<p id="notice"><%= notice %></p>

<form>
<div class="form-group col-4">
    <%= label_tag nil, @mining_type.descryption %>
    <%= text_field_tag nil, @mining_type.descryption, class:"form-control", disabled: true %>
  </div>

  <div class="form-group col-4">
    <%= label_tag nil, @mining_type.acronym %>
    <%= text_field_tag nil, @mining_type.acronym, class:"form-control", disabled: true %>
  </div>
</form>

<%= link_to t('links.edit'), edit_mining_type_path(@mining_type), class:"btn btn-primary" %> |
<%= link_to t('links.back'), mining_types_path, class:"btn btn-primary" %>
